* {
    margin: 0;
    padding: 0;
}

body {
    background: #EEEEEF;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.menu-nav-1 {
    display: flex;
    height: 72px;
    padding: 16px 52px ;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    background: #6D91DC;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #F8FDFE;
    font-family: 'Rochester', cursive;
    font-size: 28px;
    font-weight: 400;
}

.nav-price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: #F8FDFE;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.btn-bag {
    width: 40px;
    height: 40px;
    background: #6D91DC;
    border: #6D91DC;
    position: relative;
    top: 8px;

}

.bag-arm {
    position: relative;
    left: 0;
    bottom: 36px;
}

.btn-bag span {
    color: #F8FDFE;
    display: flex;
    justify-content: center;
    font-family: 'Cabin', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 10px;
    position: absolute;
    top: 8px;
    left: 18px;
}

.menu-nav-2 {
    display: flex;
    padding: 4px 52px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-family: 'Cabin', sans-serif;
    background: #FFFFFF;
}

.menu-nav-2 ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
}

.menu-nav-2 a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

}

main {
    font-family: 'Cabin', sans-serif;
}

.title {
    padding: 32px 0 23px ;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    border-bottom: 1px  solid #A8A8A8;
    margin: 0 52px 0 52px;
}

form {
    display: flex;
    margin-top: 56px;
    margin-bottom: 121px;
    padding-right: 162px;
    padding-left: 162px;
}

.left-container {
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.contact-details-title {
    font-size: 20px;
    font-weight: 700;

}

.input-title {
    height: 77px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.input-setting {
    display: flex;
    width: 416px;
    padding: 10px;
    margin-top: 8px;
    align-items: flex-start;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    background: #F5F5F5;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.cross-input {
    display: flex;
    position: relative;
    bottom: 35px;
    left: 410px;
    visibility: hidden;
}

.contact-info:focus-within .cross-input {
    visibility: visible;
}

.contact-info input:focus {
    display: flex;
    width: 416px;
    padding: 10px;
    align-items: flex-start;
    border: 1.5px solid #2080F6;
    box-shadow: 0 0 0 3px rgba(36, 100, 241, 0.15);
    outline: none;

}

.delivery-textarea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}



.textarea-setting {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 104px;
    padding: 10px;
    resize: none;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    background: #F5F5F5;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.delivery-textarea textarea:focus {
    border: 1.5px solid #2080F6;
    box-shadow: 0 0 0 3px rgba(36, 100, 241, 0.15);
    outline: none;

}

.container-date {
    display: flex;
    align-items: center;
    gap: 19px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.container-date input {
    display: flex;
    width: 120px;
    padding: 2px 8px;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.order-payment {
    display: flex;
    width: 416px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

}

.order-payment p {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.radio-btn-setting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.radio-btn-setting label {
    display: flex;
    gap: 8px;
}

.right-container {
    display: flex;
    width: 526px;
    height: 456px;
    box-sizing: border-box;
    padding: 40px;
    margin-left: 130px;
    flex-direction: column;
    gap: 32px;
    border-radius: 4px;
    background: #F5F5F5;
}

.order {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;

}

.order-details {
    display: flex;
    width: 446px;
    align-items: flex-start;
    gap: 24px;
}

.order-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    align-self: stretch;
}

.order-title {
    border-bottom: 1px solid #8E8E8E;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.order p {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.order span {
    display: flex;
    padding: 4px 8px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
}

.order-price {
    width: 85px;
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.total-order {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #A8A8A8;
    padding: 10px 0;
    box-sizing: border-box;
}

.check-box-btn-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.check-box-btn-container label {
    display: flex;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.btn-setting {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.btn-submit {
    display: flex;
    width: 215px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    background: #3D76BA;
    color:  #F8FDFE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.btn-submit:hover {
    display: flex;
    width: 215px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #63A1EB;
}

.btn-reset {
    display: flex;
    width: 215px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    background: #DEDEDE;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.btn-reset:hover {
    display: flex;
    width: 215px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #EEE;
}

footer {
    background: #6D91DC;
}

.footer-info {
    display: flex;
    justify-content: space-between;


}

.footer-info span {
    color: #F8FDFE;
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

